* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.card {
    width: 20%;
    min-width: 900px;
    background-color: rgb(255, 249, 249);
    font-size: 70px;
    font-weight: 900;
    color: #444;
    padding: 30px;
    transition: 1s cubic-bezier(0, -1.02, 1, -0.62);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px #444;
}

img {
    width: 100%;
    border-radius: 5px;
}